* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  display: flex;
  padding: 20px;
  background-color: #ff8d27;
  justify-content: space-between;
}

img {
  margin: 10px;
  width: 300px;
  height: 100px;
}

nav {
  display: flex;
  padding-top: 50px;
  margin-right: 20px;
}

a {
  padding: 20px;
  text-decoration: none;
  color: #efefef;
  font-size: x-large;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 20px;
  padding: 20px;
  height: 100px;
  width: 200px;
  background-color: wheat;
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 50%;
  height: 600px;
  background-color: #656565;
  border: black solid 1px;
}

footer {
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10pt;
  background-color: #ff8d27;
  justify-content: center;
}
